*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body {
  font-family: 'Montserrat', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* header,navigation 영역 */
.site__header{
  width: 100%;
  border-bottom: 1px solid #c7d2fe;
  margin-bottom: 64px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-left:auto;
  margin-right: auto;
  height: 80px;
  width: 960px;    
}

.logo {
  color: #4f46e5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
}

.logo span{
  color: #222;
}

.nav .nav-menu{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.nav .nav-menu a{
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.nav .nav-menu .contact{
  background-color: #4f46e5;  
  padding: 8px 12px;
  border-radius: 2rem;
}
.nav .nav-menu .contact a{
  color:white;
}

/* post 영역 */
.post{
  width: 100%;
}
.post .container{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.post-header{
  margin-bottom: 64px;
}
.post-header__category{
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  color: #4f46e5;
  margin-bottom:10px;
}
.post-header__title{
  font-size: 42px;
  margin-bottom: 16px;
}
.post-header__info{
  display: flex;
  list-style: none;  
  color: #4f46e5;
}
.post-header__info li{
  display: flex;
  align-items: center;
  margin-right:24px;
}

.featured-image{
  width: 100%;
  height: 510px;
  overflow:hidden;
  margin-bottom: 64px;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px #d2dae5);
}
.featured-image img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content{
  padding-top:64px;
  padding-bottom: 64px;
  padding-left: 96px;
  padding-right: 96px;
}
.post-content h2,
.post-content p,
.post-content ul,
.post-content blockquote{
  margin-bottom: 32px;
}

.post-content h2{
  font-size: 24px;
}

.post-content p {
  line-height: 150%;
  font-size: 18px;
}

.post-content .image{
  width: 100%;
  height: 220px;
  display: flex;
  margin-bottom: 32px;
  gap:32px;
}

.post-content .image__item{
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.post-content .image img{
  max-width: 100%;
  width:100%;
  height: 100%;
  object-fit: cover;
}

.post-content blockquote{
  padding-top:16px;
  padding-left: 32px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  line-height: 150%;
  position: relative;
  font-size: 20px;
}

.post-content blockquote::before{
  position: absolute;
  width: 3px;
  height: calc(100% - 32px);
  content:'';
  top: 16px;
  left: 16px;
  border-radius: 10px;
  background-color:white;
}

.post-content .hashtag{
  display: flex;
  align-items: center;
}

.post-content .hashtag .feather{
  color:#4f46e5;
}

.post-content .hashtag ul {
  list-style: none;
  display: flex;
  gap:16px;
  margin-bottom:0;
}

.post-content .hashtag__item{
  padding-top:6px;
  padding-left:12px;
  padding-right: 12px;
  padding-bottom: 6px;
  background-color: #eef2ff;
  color: #222;
  border-radius: 4px;
}

.feather{
  margin-right: 8px;
}